body {
    background-color: #2B2B2B;
    font-family: verdana;
    color: white;
  }
  
  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .paragraph {
    font-size: 20px;
    border: 1px solid #ffffff;
    background-color: #121212;
    text-align: center;
  }

  .menu {
    font-size: 20px;
    border: 1px solid #ffffff;
    background-color: #121212;
    text-align: center;    
  }

  a {
    color: white;
  }
