body {
    background-color: #2B2B2B;
    font-family: verdana;
    color: white;
    text-shadow: 2px 1px #646464
  }
  
  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  p {
    background-color: 
    font-size: 20px;
    text-align: center;
  }